@import "tailwindcss";
 
body {
  color: #E8F8F3;
  background: #17221F;
  font-family: Unbounded;
}


input::placeholder {
  color: rgb(90, 90, 90);
  opacity: 1;
}

a{
  transition: 0.3s;
}
a:hover{
  scale: 0.998;
}

body {
  background: var(--background);
  color: var(--foreground);
 }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Unbounded', sans-serif;
   line-height: 1.6;
}