@import "tailwindcss";

@theme {

  --color-primary: #3F59CE;
  --color-primary-hover: #344CB3;
  --color-accent: #3F59CE;
  --color-accent-hover: #C5ED2E;


  --color-background: #F6F9F8;
  --color-section: #F6F9F8;
  --color-card: #FFFFFF;


  --color-text-dark: #14181A;
  --color-text-muted: #617078;
  --color-dark: #14181A;


  --color-border: #E5E7E6;
}

body {
  background: var(--color-background);
  color: var(--color-text-dark);
  font-family: 'sfPro', Inter, sans-serif;
  line-height: 1.6;
}

input::placeholder {
  color: rgb(90, 90, 90);
  opacity: 1;
}

a {
  transition: 0.3s;
}
a:hover {
  scale: 0.998;
  cursor: pointer;
}
button {
  transition: 0.3s;
}
button:hover {
  scale: 0.998;
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'sfPro';
  line-height: 1.6;
}
